html {
	height: 100%;
	overflow-y:scroll;
}

table {
    width: 100%;
}

td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.no-padding-horizontal {
	padding-left: 0;
	padding-right: 0;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.interactive {
	cursor: pointer;
}

.emergency {
	background-color: red;
}

.emergency-canceled {
	display: none;
}
